<!-- pulls items from nav.yml in the _data directory. As pages are added update that file. Do NOT hardcode pages here. --->

<nav class="navbar">
  <div class="navbar-brand">
    <!-- put logo here -->
    <h1><a href="#" class="navbar-item">{{ site.title }} </a></h1>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div> <!-- end navbar-brand -->

  <div class="navbar-menu">
    <div class="navbar-end">
      {% for item in site.data.nav %}
        <div class="navbar-item">
          <a href="{{ item.link }}" class="{% if page.url == item.link %}current{% endif %}">
            {{ item.name }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>


<!-- 
{% for item in site.data.nav %}
  <a href="{{ item.link }}" class="{% if page.url == item.link %}current{% endif %}">
    {{ item.name }}
  </a>
{% endfor %}
-->